body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

.profile-img{
  border-radious: 100%;
  height: 150px;
  width: 120px;
}

.bottom-strip{
  background-color: #66BFBF;
  margin: 0;
  padding: 50px 0 20px;
}

a{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 15px;
  text-decoration: none;
  transition: 0.6s ease;
  margin-right: 50px;
}

.copyright{
  font-size: 10px;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border-style: none;
  border-top: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}

.contact{
  margin-top: 50px;
  transition: 0.6s ease;
}

.contact:hover{
  transform: scale(110%);
}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.p-centre{
width: 50%;
margin: 100px auto 100px auto;
text-align:center;
}

.p-top{
  margin-top: 50px;
}

.bottom-container{
width: 40%;
margin: 40px auto 60px;
text-align:center;
}

.skill-1{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 80px;
  border-radius: 10%;
  height:180px;
  width: 180px;
  transition: 0.6s ease;
  float: left;
  margin-left: 80px;
}

.skill-1:hover{
  transform: scale(110%);
}

.skill-2{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 80px
  border-radius: 10%;
  height:180px;
  width: 180px;
  transition: 0.6s ease;
  float:right;
  margin-right: 80px;
}

.skill-2:hover{
  transform: scale(110%);
}


.skill-3{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 80px;
  border-radius: 10%;
  height:180px;
  width: 180px;
  transition: 0.6s ease;
  float:left;
  margin-left: 80px;
}

.skill-3:hover{
  transform: scale(110%);
}


p{
  font-size: 1.25rem;
  line-height: 2;
}

h1 {
  margin: 50px auto 2.5rem auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.6875rem;
  color: #2c786c;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #2c786c;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}


.top-container {
  background-color: #e4f9ff;
  position: relative;
  padding-top: 100px;
  transition: 0.6s ease;
}

.top-container:hover{
  background-color: #FFE5EA;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.top-cloud {
  position: absolute;
  right: 370px;
  top: 40px;
}
